./idea/
./idea/*
idea/*
idea/
.idea/
.scrapy/
airbnb160216.json
bnbscraper/__init__.pyc
bnbscraper/bnbItem.pyc
bnbscraper/settings.pyc
bnbscraper/spiders/__init__.pyc
bnbscraper/spiders/airbnbSpider.pyc
**/*.pyc
*.pyx
*.pyc
*.json
*.p
.ipynb_*
